<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand"><strong>Logo</strong></a>
    <div class="dropdown">
      <div class="btn-group">
        <button type="button" class="btn bd-outline">{{#with recentUserchat.thisUser}}
          Welcome, {{capitalize_first_name first_name}}!
          {{/with}}</button>
        <button type="button" class="btn bd-outline dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{!-- <span class="visually-hidden">Toggle Dropdown</span> --}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="/chat">Chat with someone new</a></li>
          <li><a class="dropdown-item" id="logout-btn">Log out</a></li>
          <li><a class="dropdown-item" id="delete-btn">Delete my account</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
</header>

<main>


<section class="gradient-custom">
  <div class="container py-5">

    <div class="row">

      <div id="currentChatList" class="currentChat col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">

        <h5 class="font-weight-bold mb-3 text-center text-black">Current Conversations</h5>

        <div class="card cd-custom">
          <div class="card-body">
            <ul id="recentUserList" class="list-unstyled mb-0">
            </ul>
          </div>
        </div>
      </div>
<script src='/assets/js/recent.js'></script>
</section>
</main>

<script src="/assets/js/logout.js"></script>
<script src="/assets/js/delete-user.js"></script>