<div>{{#each users}}
    <h1>{{capitalize_first_name first_name}} {{capatilize_last_name last_name}}</h1>
    {{/each}}
</div>

<div>{{#each messages}}
    <h1>{{sender_id}} </h1>
    <p>{{text_message}}</p>
    {{/each}}
</div>