<div class="login-page">
  {{!-- <div class="logo">
    <img src="/assets/images/logo-dark.svg" alt="randm logo" />
  </div> --}}
  <div class="forms">
    <form class="loginInform">
      <div>
        <label for="email-login">Email:</label>
        <input type="text" id="emailInfo" />
      </div>
      <div>
        <label for="passwordInfo">Password:</label>
        <input type="password" id="passwordInfo" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
    {{!-- <div class="form-message"> --}}
    <a href="/register">Create an account</a>
    {{!-- </div> --}}
  </div>
</div>

<script src="/public/js/login.js"></script>
