<div class="unlogged-page">
  <div class="logo">

  </div>
  <div class="forms">
    <form class="loginInform">
      <div>
        <label for="loginEmail">Email:</label>
        <input type="text" id="loginEmail" />
      </div>
      <div>
        <label for="loginPwd">Password:</label>
        <input type="password" id="loginPwd" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
    <a href="/register">Create an Account!</a>
  </div>
</div>

<script src="/assets/js/login.js"></script>