<div class='unlogged-page'>
  <div class='col-sm-8 forms' style='margin: 0 auto; border-radius: 15px;'>
    <div class='logo'>
      
    </div>
    <form class='registerInform'>
      <div>
        <h3>Create account</h3> 
        <label for='registerEmail'>Email:</label>
        <input type='text' id='registerEmail' />
      </div>
      <div>
        <label for='registerPwd'>Password:</label>
        <input type='password' id='registerPwd' autocomplete='no' />
        
      </div>
      <div>
        <label for='registerFirstname'>First Name:</label>
        <input type='text' id='registerFirstname' />
      </div>
      <div>
        <label for='registerLastname'>Last Name:</label>
        <input type='text' id='registerLastname' />
      </div>
      <div>
        <label for='gender'>Gender Identity:</label>
        <select name='genders' id='genders'>
          <option value='female'>Female</option>
          <option value='male'>Male</option>
          <option value='non-binary'>Non-Binary</option>
          <option value='undisclosed'>Undisclosed</option>
        </select>
      </div>
      <div>
        <label for='pronoun'>Pronouns:</label>
        <input type='text' id='pronouns' />
      </div>
      <div>
        <label for='bio'>Bio:</label>
        <textarea id='bio' rows='10' cols='50' placeholder='Write a little about yourself and what you are looking for in a new friendship.'></textarea>
      </div>
      <div>
        <button id="create-account" type='submit'>Create account</button>
      </div>
    </form>  
    
    
    <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>
    </div>
  </div>
</div>
<script src='/assets/js/register.js'></script>
