<div class="register-page">
    <div class="forms">
        <form class="registerInform">
            <div>
                <label for='register-email'>Email:</label>
                <input type='text' id='register-email' />
            </div>
            <div>
                <label for='register-password'>Password:</label>
                <input type='password' id='register-password' autocomplete='no' />
            </div>
            <div>
                <label for='register-firstname'>First Name:</label>
                <input type='text' id='register-firstname' />
            </div>
            <div>
                <label for='register-lastname'>Last Name:</label>
                <input type='text' id='register-lastname' />
            </div>
            <div>
                <label for='gender'>Gender:</label>
                <select name='genders' id='genders'>
                    <option value='female'>Female</option>
                    <option value='male'>Male</option>
                    <option value='non-binary'>Non-Binary</option>
                    <option value='undisclosed'>Undisclosed</option>
                </select>
            </div>

            <div>
                <label for='pronoun'>Pronouns:</label>
                <input type='text' id='pronouns' />
            </div>
\

            <div>
                <label for='biography'>Bio:</label>
                <textarea id='biography' rows='10' cols='50' placeholder='Write a little about yourself and what you are looking for in a new friendship.'></textarea>
            </div>
            <div>
                <button type='submit'>Create an account</button>
            </div>
        </form>
        <div class="form-message">
            Already have an account?
            <a href="/login">Click here to login!</a>
        </div>
    </div>
</div>

<script src='/public/js/register-user.js'></script>