<section class="gradient-custom">
<div class='unlogged-page '>
  <div class='logo'>

  </div>
  <div class='forms'>
    <form class='registerInform'>
      <div class='form-group'>
        <label for='registerEmail'>Email:</label>
        <input type='text' id='registerEmail' />
      </div>
      <div class='form-group'>
        <label for='registerPwd'>Password:</label>
        <input type='password' id='registerPwd' autocomplete='no' />
      </div>
      <div class='form-group'>
        <label for='registerFirstname'>First Name:</label>
        <input type='text' id='registerFirstname' />
      </div>
      <div class='form-group'>
        <label for='registerLastname'>Last Name:</label>
        <input type='text' id='registerLastname' />
      </div>
      <div>
        <label for='gender'>Gender Identity:</label>
        <select name='genders' id='genders'>
          <option value='female'>Female</option>
          <option value='male'>Male</option>
          <option value='non-binary'>Non-Binary</option>
          <option value='undisclosed'>Undisclosed</option>
        </select>
      </div>
      <div>
        <label for='pronoun'>Pronouns:</label>
        <input type='text' id='pronouns' />
      </div>
      <div>
        <label for='bio'>Bio:</label>
        <textarea id='bio' rows='10' cols='50'
          placeholder='Write a little about yourself and what you are looking for in a new friendship.'></textarea>
      </div>
      <div>
        <button class="text-uppercase text-center mb-5" type='submit'>Create account</button>
      </div>
    </form>
    <div class='form-message '>
      <a href='/login'>Login here!</a>
    </div>
  </div>
</div>
</section>
<script src='/assets/js/register.js'></script>